.linked{
    list-style-type: none;
  }


  .cardy {
    width: 21rem;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-img-top{
    height: 350px;
  }

  .card-text{
    padding-bottom: 10px;
  }

  .llm{
    list-style-type: none;
  }

  .addr{
    padding: 10px;
  }